# Project
/data/log/
/data/output/
/data/backup/
/experimental/
/config/secrets.yaml
/notebooks
alertas_at.bat
/src/alertas_at.bat
/src/alertas_at_testes.ipynb

# Clutter
/venv/
/.idea/
/.git/
Pipfile
Pipfile.lock
